<div class="container">
  <div class="card">
  <div class="row no-gutters">
    <div class="col-md-5">
      <%= image_tag product.image, class: "card-img" %>
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <h6><%= number_to_currency product.price %></h6>
        <p class="card-text text-muted">
          <%= product.description %>
        </p>
        <div class="text-right">
          <button class="btn btn-warning">
            <i class="fas fa-cart-plus"></i>
            Agregrar al carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
